
.linkJoinUs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #96bb7c;
}

.heroTitle {
  margin-top: 15px;
  line-height: 1.37931;
  color: #252b42;
  font-weight: 700;
  font-size: 29px;
}

.bground {
  max-width: 285px;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.heroPictureContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.text {
  margin-top: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #737373;
}

.btnWrap {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.joinUs {
  line-height: 1.57143;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  background: #96bb7c;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
}

.learnMore {
      line-height: 1.57143;
  letter-spacing: 0.01em;
  text-align: center;
  color: #96bb7c;
  background: #ffffff;
  border: 1px solid ;
  border-radius: 5px;
  padding: 7px 20px;
}