

.wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  min-width: 300px;
}

.aboutUsImg {
    width: calc(
    50% - 10px
  ); /* Картинки занимают половину ширины контейнера, минус отступ */
  height: auto; 
  max-width: 100%; 
}

.titlePC {
  display: none;
}

.titleMobile {
  display: block;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  margin-bottom: 20px;
}

.text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.01em;
  text-align: center;
  color: #737373;
}

@media only screen and (min-width: 768px) {
  .aboutUsWrap {
    display: flex;
    align-items: center;
  }

  .aboutUsImg {
    flex: 0 1 calc(50% - 10px); /* Продолжаем использовать две картинки по горизонтали */
  }

  .titleMobile {
    display: none;
  }

  .titlePC {
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    text-align: center;
    color: #252b42;
  }

  .imgWrap {
    justify-content: flex-start;
  }

}


@media only screen and (min-width: 1440px) {
  .aboutUsImg {
    flex: 0 1 calc(50% - 10px); /* Продолжаем использовать две картинки по горизонтали */
  }

  .imgWrap {
     min-width: 800px;
  }
}
